node_modules
.env
resetSuccess.html
resetPasswordPage.html
deleteAccount.html
deleteSuccess.html
deleteTest1.html
deleteTest2.html
addRole.ts
check.ts
isActive.ts
serviceAccountKey.json
utils/seedCategories.ts